/* Getting the new tags to behave */
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video
       {
       display: block;
}

mark,rp,rt,ruby,summary,time {
       display: inline
}

/* Global properties ======================================================== */
body {
       background: #f8f8f9;
       font-family: Arial, Helvetica, sans-serif;
       font-size: 100%;
       line-height: 1.0625em;
       color: #858484;
}

html {
       min-width: 980px;
}

html,body {
       height: 100%;
}

/* Global Structure ============================================================= */
.container_24 {
       position: relative;
       font-size: .75em;
}

/* Header */
header {
       height: 509px;
       overflow: hidden;
       background: white;
}

/* Content */
section#content { /*       background: #E0E0E0;
*/
       padding-bottom: 20px;
       background: white;
}

/* Sidebar */
aside {
       
}

/* Footer */
footer {
       padding: 25px 0 25px 0;
}

/* Left & Right alignment */
.fleft {
       float: left;
}

.fright {
       float: right;
}

.clear {
       clear: both;
}

.alignright {
       text-align: right;
}

.aligncenter {
       text-align: center;
}

.wrapper {
       width: 100%;
       overflow: hidden;
}

/*----- form defaults -----*/
input,select,textarea {
       font-family: Arial, Helvetica, sans-serif;
       font-size: 1em;
       vertical-align: middle;
       font-weight: normal;
}

/*----- other -----*/
.img-indent {
       margin: 0 20px 0 0;
       float: left;
}

.img-box {
       width: 100%;
       overflow: hidden;
       padding-bottom: 20px;
}

.img-box img {
       float: left;
       margin: 0 20px 0 0;
}

.extra-wrap {
       overflow: hidden;
}

p {
       margin-bottom: 17px;
}

.p1 {
       margin-bottom: 8px;
}

.p2 {
       margin-bottom: 17px;
}

.p3 {
       margin-bottom: 26px;
}

/*----- txt, links, lines, titles -----*/
a {
       color: #f86314;
       outline: none;
}

a:hover {
       text-decoration: none;
}

h2 {
       font-size: 45px;
       line-height: 1.2em;
       font-weight: normal;
       color: #30383a;
       letter-spacing: -2px;
       font-weight: 700;
       margin-bottom: 18px;
}

h2 span {
       font-size: 32px;
       line-height: 1.2em;
       font-weight: 500;
       display: inline-block;
       position: relative;
       top: 13px;
}

h3 {
       font-size: 25px;
       line-height: 1.2em;
       font-weight: 500;
       color: #30383a;
       background: url(Images/HomePage/line-hor.gif) 0 100% repeat-x;
       padding: 0 0 8px 0;
       margin-bottom: 20px;
}

h4 {
       font-size: 13px;
       color: #454f51;
       margin-bottom: 1.6em;
}

h4.alt {
       padding-top: 10px;
}

h5 {
       
}

h6 {
       
}

.button {
       display: inline-block;
       width: 81px;
       height: 50px;
       line-height: 37px;
       font-size: 16px;
       background: url(Images/HomePage/button.png) no-repeat 0 0;
       color: #fff;
       text-decoration: none;
       text-align: center;
}

.button:hover {
       cursor: hand;
}

/* Boxes */
.box {
       background: #eaedf0;
       border: 2px solid #c4c4c3;
       padding: 28px 29px 43px 29px;
       position: relative;
       border-radius: 6px;
       -moz-border-radius: 6px;
       -webkit-border-radius: 6px;
       behavior: url(js/PIE.htc);
}

.address {
       float: left;
       padding-bottom: 3px;
}

.address dt {
       margin-bottom: 17px;
}

.address dt:first-line {
       font-weight: bold;
       color: #454f51;
       font-size: 13px;
}

.address dd {
       clear: both;
}

.address dd span {
       float: left;
       width: 77px;
}

/* Header
---------------------------------------- */
.header-bg {
       background: url(Images/HomePage/header-bg.jpg) no-repeat 50% 0;
       height: 509px;
}

/* Logo */
.logo {
       position: absolute;
       left: 9px;
       top: 27px;
}

/* Navigation */
header nav {
       position: absolute;
       right: 0;
       top: 93px;
}

header nav ul li {
       float: left;
}

header nav li a {
       float: left;
       padding: 12px 21px 18px 21px;
       font-size: 16px;
       color: black;
       position: relative;
       background: white;
}

header nav li a:hover {
       background: #EAEDF0;
}

/* RSS */
a.rss {
       display: block;
       position: absolute;
       right: 8px;
       top: 36px;
       color: #014568;
       background: url(Images/HomePage/icon-rss.png) no-repeat 100% 0;
       padding: 4px 54px 10px 0;
       font-size: 1.1em;
}

a.rss:hover {
       color: #fff;
}

/* Main banner */
.main-banner {
       display: block;
       position: absolute;
       left: 9px;
       top: 153px;
}

/* Content
---------------------------------------- */
#content {
       
}

.inside {
       padding: 0 0 0 10px;
}

.inside .inside {
       padding: 40px 0 0 0;
}

.row {
       padding-bottom: 34px;
}

/* List */
.list1 li {
       background: url(Images/HomePage/marker1.gif) no-repeat 0 5px;
       padding: 0 0 0 25px;
       line-height: 24px;
       font-size: 13px;
}

.list2 dt {
       font-weight: bold;
       font-size: 13px;
       color: #454f51;
}

.list2 dd {
       border-bottom: 1px dashed #e1e5e6;
       padding: 0 0 10px 0;
       margin-bottom: 11px;
}

.list2 dd:last-child {
       border-bottom: none;
}

.list3 dt {
       font-weight: bold;
       font-size: 13px;
       color: #454f51;
}

.list3 dd {
       margin-bottom: 17px;
}

.list3 dd:last-child {
       margin-bottom: 0;
}

/* Footer
---------------------------------------- */
footer {
       color: #2792c5;
}

footer a {
       text-decoration: none;
       color: #2792c5;
}

footer a:hover {
       text-decoration: underline;
}

/* Copy */
footer .copy {
       float: left;
}

footer .copy a {
       color: #fff;
}

/* Footer navigation */
footer nav {
       font-size: 12px
}

footer nav li {
       display: inline;
       border-left: 1px solid #0e74a6;
       padding: 0 8px 0 11px;
}

footer nav li:first-child {
       border: none;
}

footer nav li a:hover,footer nav li a.current {
       color: #fff;
       text-decoration: none;
}

/*----- forms -----*/
#contacts-form fieldset {
       border: none;
       width: 100%;
       overflow: hidden;
       display: block;
       color: #373732;
       font-weight: bold;
       font-family: Tahoma, Geneva, sans-serif;
       font-size: 11px;
}

#contacts-form label {
       display: block;
       height: 58px;
       overflow: hidden;
}

#contacts-form input {
       color: #111;
       border: 1px solid #a09b96;
       background: #fff;
       padding: 3px 0 3px 5px;
       width: 170px;
}

#contacts-form textarea {
       color: #111;
       border: 1px solid #a09b96;
       background: #fff;
       padding: 3px 0 3px 5px;
       width: 260px;
       overflow: auto;
       height: 128px;
       margin-bottom: 18px;
}

.sap_reasearch_icon {
       width: 970px;
}

.sap_research_icon1 {
       float: right; color : orange;
       font-size: 18px;
       color: orange;
}

.sap_research_icon2 {
       float: right;
       color: #4C4646;
       font-size: 18px;
}

/*==========================================*/
