.mainPanel {
    font-family: arial;
    font-size: 11px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

.clear {
    clear: both
}

#nav {
    margin: 0;
    padding: 0;
    padding-left:40px;
    background-color: white;
}

#question {
    list-style-image: url(../Images/MainPage/MenuIcon/QuestionHeader.gif);
    vertical-align: middle;
}

#question:hover {
    background-color: #FFC52B;
}

#textField {
    list-style-image: url(../Images/MainPage/MenuIcon/TextFieldHeader.png);
}

#textField:hover {
    background-color: #FFC52B;
}

#answerField {
    list-style-image: url(../Images/MainPage/MenuIcon/AnswerFieldHeader.png);
}

#answerField:hover {
    background-color: #FFC52B;
}

#guidance {
    list-style-image: url(../Images/MainPage/MenuIcon/GuidanceHeader.gif);
}

#guidance:hover {
    background-color: #FFC52B;
}

#attachment {
    list-style-image: url(../Images/MainPage/MenuIcon/AttchmentHeader.gif);
}

#attachment:hover {
    background-color: #FFC52B;
}

/* make the LI display inline * /
    /* it's position relative so that position absolute */
/* can be used in submenu */
#nav li {
    position: relative;
    z-index: 500;
    margin: 0 5px;
}

/* this is the parent menu */
#nav li a {
    height: 23px;
    text-align: center;
    vertical-align: middle;
    color: black;
    font-size: 120%;
    font-family: "Eurostile"
}

}
#nav li a:hover {
    background-color: #FFC52B;
    color: #FEF0C9;
}

#nav a.selected {
    color: #f00;
}

/* submenu, it's hidden by default */
#nav ul {
    position: absolute;
    left: 80px;
    display: none;

}

#nav ul li {
    width: 200px;
    float: left;
    border-top: 1px solid #fff;
}

#nav ul a {
    display: block;
    height: 15px;
    padding: 11px 11px;
    color: black;
}

#nav ul a:hover {
    background-color: #FFC52B;
}

* html #nav ul {
    margin: 0 0 0 -2px;
}

p:hover {
    background-color: #FAF8CC;
    cursor: move;
}

img:hover {
    cursor: pointer;
    cursor: hand;
}

.textarea {
    resize: both;
}

div.fullscreen {
    display: block;
    /*set the div in the top right corner*/
    position: absolute;
    top: 0;
    right: 0;
    /*give it some background and border*/
    background: #eee;
    border: 1px solid #ddd;
    font-size: 150%;
}

#div1 {
    width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}

#drag {
    position: relative;
    display: block;
}

#headerblock {
    width: 18em;
    background-color: black;
    color: blue;
}

#wrapper {
    width: 18em;
    height: auto;
    background-color: grey;
    color: blue;
}

#version {
    background-color: #F0AB00;
    font-weight: bold;
    color: white;
}

#questionnairediv {
    border: 2px #ddd;
    font-size: 16px;
    font-style: bold;
    color: #504A4B;
    background-color: #EAEDF0;
    border: 2px solid #C4C4C3;
}

p.flip {
    margin: 0px;
    padding: 5px;
    text-align: center;
    background: white;
    border: solid 1px #c3c3c3;
}

p.flip:hover {
    margin: 0px;
    padding: 5px;
    text-align: center;
    background: #FBB117;
    border: solid 1px #c3c3c3;
    cursor: move;
}

p.flip.highlight {
    margin: 0px;
    padding: 5px;
    text-align: center;
    background: #FBB117;
}

div.panel {
    height: 120px;
    display: none;
    background: white;
}

table.tab {
    background: white;
}

table.tab.active {
    background: blue;
}

.main {
    width: 325px;
}

.preview {
    border: 1px solid #006;
    background: whiteSmoke;
}

.clearall {
    border: 1px solid #006;
    background: whiteSmoke;
}

input.preview {
    cursor: hand;
}

#question1 {
    background-color: #EAEDF0;
    border: 2px solid #C4C4C3;
}

.question_description {
    text-align: center;
    color: #504A4B;
}

.question_description:hover {
    background-color: #EAEDF0;
}

.class {
    color: black;
    font-size: 20px;
}

.top_decoration_line {
    background-color: white;
}

.questionnaire_tools {
    background-color: #EAEDF0;
    font-size: 12px;
    width: 200px;
    bottom: 392px;
    position: fixed;
}

#sap_reasearch_icon {
    width: 1010px;
    height: 60px;
    text-align: right;
    background-color: #F8F8F8;
}

.sap_research_icon1 {
    color: orange;
    float: right;
}

.sap_research_icon2 {
    color: black;
    float: right;
}

.footer_hyperlink {
    color: blue;
}

